.modal-window {
    position: fixed;
    background-color: rgba(35, 34, 34, 0.684);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: auto;
    /* background-image: url(/5299.jpg);
    object-fit: fill; */
    
   
    
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window > div {
    width: auto;
    height: auto;
    position: relative;
    margin: 10%;
    padding: 2rem;
    background-color: white;
    color: #444;
    border-radius: 5px;
    text-align: justify;
   
    
    
    
  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: rgb(0, 0, 0);
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
    text-shadow: 0 2px 2px black;
  }

  .modal-window > div {
    /* background-image: url(/5299.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
  }