*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}

/* navbar design  */

 .wrapper{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url(/ECM/application/asset/css/images/pexels-photo-1125850.jpeg) no-repeat;
    background-size: cover;
    background-position: bottom;
    /* height: 100%; */
  
}
.navbar{ 
    height: 80px;
    width: 100%;
    background: rgba(16, 16, 16, 0.864);
    display: flex;
    /* overflow-x: hidden; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 140px;
    height: auto;
    padding:22px 27px ;
    margin-left: 60px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 0px 30px 0px 30px;
        margin-right: 20px;
        /* border: 1px solid grey; */
        border-radius: 15px;
}
.navbar ul li a.active,
.navbar ul li a:hover{

    background-color: rgb(65, 121, 63);
    /* color: white; */
    border-radius: 15px;
    padding-left: 30px; 
    transition: all 0.3s ease;      
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 160px;
}
.wrapper .main h1,p{
    color: rgb(221, 241, 255);
    text-align: center;
}
.main h1{
    font-size: 7vmin;
}
.main p{
    font-size: 4vmin;
    letter-spacing: 0.5px;
}
.btn1{
    display: flex;
}
.btn{
    margin: 20px 7px 7px 7px;
    padding: 3px 16px;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: blueviolet;
    color: azure;
    transition: all 0.3s ease;
}
.last{
   display: flex;
}
.last .abc h3,p{
    color:rgb(205, 255, 253);
}
#sec{
    background-color: rgb(65, 121, 63);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 80%;
    display: flex;
    opacity: 0.8;
    /* margin-left: 200px; */
    text-align: center;
    /* align-content: center; */
    margin-top: 50px;
    margin-left: 145px;
}
.last .abc img{
    width: 50px;
}
.abc{
    border-right: 2px solid grey;
    padding: 40px;
}
.abc a{
    text-decoration: none;
}
.abc a h2{
    color: lightgray;
    border-bottom: 2px solid black;
}
.abc a h2:hover{
    color:  #ff8f8f;
}

.abc h3{
    color: bisque;
}
#abc2{
    border-right: none;
}
.para2{
    color:white;
    letter-spacing: 0.5px;
}
footer{
    background-color:rgb(5, 0, 36);
    width: 100%;
    /* height: auto; */
    /* margin-top: -11px; */
}

.footer-heading{
    color: white;
}
.foot1{
     /* height: 350px; */
     /* background-color: rgb(227, 125, 0); */
     display: grid;
     /* justify-content: space-evenly; */
     justify-content: space-around;
     grid-template-columns: auto auto auto;
     /* border: 1px solid white; */
     width: 100%;
     /* flex-wrap: wrap; */
     /* flex-direction: column; */
     
}

.ft11, .ft21{
    /* border: 1px solid white; */
    padding-top: 15px;
}

.ft11 ul{
    text-align: justify;
    padding-top: 8px;
}
.ft11 ul li{
    list-style: none;
    padding: 5px;
}
.ft11 ul li a{
    text-decoration: none;
    color: white;
}
.footer-para1{
    color: white;
    text-align: justify;
    padding-top: 8px;
    line-height: 27px;
}
.ft13 ul{
    text-align: justify;
    padding-top: 8px;
}
.ft13 ul li{
    list-style: none;
    padding: 5px;
}
.ft13 ul li a{
    text-decoration: none;
    color: white;
}

.foot2{
    display: grid;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    grid-template-columns: auto auto;
    /* flex-wrap: wrap; */
    /* height: 250px; */
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}

.app-logo{
    width: 180px;
    padding: 8px;
}

.social-media{
    display: flex;
    padding-top: 8px;
}
.sm-links{
    width: 50px;
    padding: 5px 8px;
}

.endpara{
    /* margin-bottom: 5px; */
    padding-bottom: 8px;
}
@media only screen and (max-width:1480px)
 {

    .navbar{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        
    }     
    
    .navbar ul{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:1160px)
{
    .navbar{
       
        position: static;
    }    
    
    .navbar ul{
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0px;
    }
    .logo{
        width: 175px;
        height: auto;
        padding:22px 27px ;
        margin: 0px auto;
    }
}

@media only screen and (max-width:1200px)
{
    .btn1{
        display: flex;
         flex-wrap: wrap;
         flex-direction: column;
    }
    .btn{
        width: 130px;
        height: auto;
    }

    .last{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: auto;
        justify-content: center;
        align-items: center;
    }
    .last .abc{
        /* border: 2px solid yellow; */
        border: none;
    }
    .abc a h2{
        color:  #ff8f8f;
        border-bottom: none;
    }

    #sec{
      
        width:60%;
        height: auto;
        margin: 19px auto 0px auto;
        text-align: center;
    }
    .last .abc{
        border-bottom: 2px solid grey;
    }
    #abc2{
        border: none;
    }
    
}

@media only screen and (max-width:880px)
{
    #sec{
       
        width:100%;
       
    }
}

@media only screen and(max-width:830px)
{
    .main p{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width:700px)
{
    .foot1{
        
         /* flex-wrap: wrap; */
         grid-template-columns: auto;
         grid-row-gap: 30px;
    }
    .ft11{
        /* width: 100%; */
        margin: 5px auto;
    }

    .foot2{
        /* flex-direction: column; */
        /* flex-basis: 80%; */
        grid-template-columns: auto;
        grid-row-gap: 30px;
    }
       
    .ft21 {
        margin: 5px auto;
    }
}



